<!DOCTYPE html>
<html ng-app="validationApp">
  <head>
    <title>Bizinfosystems.in - Sign Up</title>
    <meta name="description" content="Whether you are looking for a business, wanting to buy or sell a business, or needing to submit a press release, Business directory offers several business related services to help promote your business" />
      <meta name="keywords" content="india Business directory, indian Suppliers directory, business directory in india, indian wholesalers, indian Manufacturers directory, online indian Exporters, indian business portal, indian buyers marketplace, indian sellers, indian distributors, buyers from india, buyers in india, indian trade portal, indian service providers, Business directory india" />
      <meta name="author" content="Business Information Systems">

      <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
      <link rel="manifest" href="favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="style.css">

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap -->

    <!-- Angular JS -->
    <script src="js/angular.min.js"></script>
    <script src="js/custom_js.js"></script>
    <!-- Angular JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.7.0/angular-messages.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>

    <!-- Disable Cut Copy Right click -->
    
    <!-- Disable Cut Copy Right click -->
  </head>
  <body class="sign_in" ng-controller="mainController"> 
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 myForm">
        <div class="col-md-12 box_cls_1">
          <center class="frm_logo">
            <img src="http://www.bizinfosystems.in/assets/images/company-logo.png" alt="" class="img-responsive" /><br /><b>Rethink the way you connect</b>
          </center>
            <h2>Sign Up</h2>
            <form name="myForm" ng-submit="onSubmit()">
              <div class="form-row">
                <div class="form-group">
                  <label for="name">Name <span class="req">*</span></label>
                  <input type="text" name="fullname" id="fullname" ng-model="fullname" class="form-control" Placeholder="Your Name" oninvalid="this.setCustomValidity('Enter your name here')"
                           oninput="setCustomValidity('')" 
             ng-maxlength="90" ng-required="true" />

                  <div ng-messages="myForm.fullname.$error">
                    <div ng-message="required" class="error_form">This field is required</div>
                  </div>

                  
                </div>
                <div class="form-group">
                  <label for="mobile">Mobile <span class="req">*</span></label>
                  <input type="text" name="mobile" id="mobile" ng-model="mobile" maxlength="10" class="form-control" Placeholder="Mobile No." ng-required="true" oninvalid="this.setCustomValidity('Enter your Mobile no. here')" oninput="setCustomValidity('')" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" />


                  <div ng-messages="myForm.mobile.$error">
                    <div ng-message="required" class="error_form">This field is required</div>
                    <div ng-message="pattern" class="error_form">Must be a valid 10 digit phone number</div>
                  </div>

                </div>
                <div class="form-group">
                  <label for="email">Email <span class="req">*</span></label>
                  <input type="email" name="email" id="email" ng-model="email" maxlength="50" class="form-control" Placeholder="Email Address" ng-required="true" />

                  <div ng-messages="myForm.email.$error">
                    <div ng-message="required" class="error_form">This field is required</div>
                    <div ng-message="email" class="error_form">Your email address is invalid</div>
                  </div>
                </div>

               <div class="form-group"> I am interested</div>
               <div class="form-check">
                <input class="form-check-input" type="radio" name="yes_no" id="yes_no1" ng-model="yes_no" value="Yes"   ng-click="showHideTest=true" />
                <label class="form-check-label" for="yes_no1">
                  Yes
                </label>
              </div>

              <div class="col-md-12" ng-show="yes_no == 'Yes'" >

                  <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ok_to_call" name="ok_to_call" ng-model="ok_to_call">
                        <label class="form-check-label" for="ok_to_call">
                          To receive calls
                        </label>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ok_to_sms" name="ok_to_sms" ng-model="ok_to_sms">
                        <label class="form-check-label" for="ok_to_sms">
                          To receive SMS
                        </label>
                      </div>
                    </div>                     
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ok_to_whatsapp" name="ok_to_whatsapp" ng-model="ok_to_whatsapp">
                        <label class="form-check-label" for="ok_to_whatsapp">
                          To receive WhatsApp
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ok_to_email" name="ok_to_email" ng-model="ok_to_email">
                        <label class="form-check-label" for="ok_to_email">
                          To receive emails
                        </label>
                      </div>
                    </div>

              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="yes_no" id="yes_no2" ng-model="yes_no" value="No" ng-click="showHideTest=false" ng-checked="true" />
                <label class="form-check-label" for="yes_no2">
                  No
                </label>
              </div>

              <div class="form-group"> Do you want to get notifications of upcoming events from Bombay Exhibition Center?</div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="get_notifications_of_events" ng-model="get_notifications_of_events" ng-value="'Yes'" ng-checked="true" />
                <label class="form-check-label" for="get_notifications_of_events">
                  Yes
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="get_notifications_of_events"  ng-model="get_notifications_of_events" ng-value="'No'" />
                <label class="form-check-label" for="get_notifications_of_events">
                  No
                </label>
              </div>

                    

                <div class="form-group"><button type="submit" ng-disabled="isDisabled" class="btn btn-success btn_cls" >Submit</button>&nbsp;&nbsp;<a href="index.html">Existing User Sign In here</a></div>
              </div>

              
            </form>
        </div>
        <div class="col-md-12"><center class="copytight">Developed By <a href="http://www.bizinfosystems.in" target="_blank">Business Information Systems</a></center> </div>  
      </div>
      <div class="col-md-4">&nbsp;</div>
      <div id = "ErrmSG">
         <div class = "message">This is a warning message.</div>
         <button class = "yes">OK</button>
      </div>
      <div id = "mSG">
         <div class = "message">This is a warning message.</div>
         <button class = "yes">OK</button>
      </div>
      <div id = "GeneralAlert">
         <div class = "message">This is a warning message.</div>
         <button class = "yes">OK</button>
      </div>
  </body>
</html>
